@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
        <h3 style="text-align:center">CANAL+</h3>
        <hr />
        <h4>Connectez vous</h4>
        <form action="/Home/Accueil" method="post">
             <p>Entrer votre identifiant :
            <input type="text" name="username" id="username"/></p>
            </br>
            <button type="submit" class="btn btn-success" style="margin-left:200px">Se connecter</button>
        </form>
</div>

